
<div class="container color-dark">
  <div class="col">
    <p>Add a list of movies</p>
  </div>
  <div class="col">
    <p>Your movie list goes here ({{moviesCount}})</p>
  </div>
</div>
<div class="container color-light" [@movies]="movies.length">
  <div class="col">
    <p class="sm">Add Movie here!</p>

    <form>
      <input type="text" class="txt" name="item" placeholder="Your Movie" [(ngModel)]="initialMovie" >
      <input type="submit" class="btn" [value]="btnText" (click)="addMovie()">
    </form>
  </div>
  <div class="col">
    <p class="life-container" *ngFor="let m of movies; let i = index" (click)="removeMovie(i)">
     {{m}}
    </p>
  </div>
</div>